.container{
    width: 970px;
    /*height: 625px;  */
    background-color: #1b345d;
    padding: 10px;
}

.header{
    width: 970px;
    /* height: 100px; */
    background-color: #cf3036;
    border-radius: 10px;
    margin-bottom: 10px;
}
.header h1{
    margin: 0;
    padding: 10px 0 10px 10px;
    color: #c2d4ec;
}

.navigation{
    width: 180px;
    height: 200px;
    background-color:#2a7d8c;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

.navigation ul{
    padding-left: 20px;
    margin: 0;
    color: #b5cfe4;
}
.navigation a{
    color: #59d3e1;
    font-size: 14px;
}

.main-content{
    height: 450px;
    width: 750px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #0e1822;
    border-radius: 10px;
    margin-bottom: 15px;
}
.main-content h2{
    color:#bbd1e9;
    margin-left: 15px;
}
.main-content p{
    color:#bbd1e9; 
    text-align: justify;  
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
}
.main-content a{
    color:#50b8ce;
    font-size: 14px;
}
.main-content ul{
    color: #bbd1e9;
    text-align: justify;
    font-size: 14px;
    
}

.footer{
    width: 100%;
    height: 60px;
    outline: 1px dotted orangered;
    border-radius: 10px;
    background-color: #5d6673;
    margin-top: 15px;
}
.footer p{
    margin-top: 1.3rem;
display: inline-block;
margin-left: 10px;
color: #a8bfd3;
font-size: 14px;
}
.footer a{
    color: #50b8ce;
    font-size: 14px;
}